body {
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10%;
	margin-top: 10px;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}
h4 {
	text-align: center;
}

.WrittenOn {
	text-align: center;
}

.breadcrumb-right {
	float: right;
}

.breadcrumb-center {
	margin-left: 160px;
}

.carousel-inner > .item > img {
	margin: 0 auto;
}
